/*
 * M3ScaleAccountManagement.PCL
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 11/17/2016
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using M3ScaleAccountManagement.PCL;
using M3ScaleAccountManagement.PCL.Http.Request;
using M3ScaleAccountManagement.PCL.Http.Response;
using M3ScaleAccountManagement.PCL.Http.Client;
using M3ScaleAccountManagement.PCL.Exceptions;
using M3ScaleAccountManagement.PCL.Models;

namespace M3ScaleAccountManagement.PCL.Controllers
{
    public partial class SignupController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static SignupController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static SignupController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new SignupController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// This request allows you to reproduce a sign-up from a developer in a single API call. It will create an Account, an Admin User for the account, and optionally an Application with its keys. If the plan_id is not passed, the default plan will be used instead. You can add additional custom parameters in Fields Definition on your Admin Portal.
        /// </summary>
        /// <param name="accessToken">Required parameter: Example: </param>
        /// <param name="orgName">Required parameter: Example: </param>
        /// <param name="username">Required parameter: Example: </param>
        /// <param name="email">Required parameter: Example: </param>
        /// <param name="password">Required parameter: Example: </param>
        /// <param name="accountPlanId">Optional parameter: Example: </param>
        /// <param name="servicePlanId">Optional parameter: Example: </param>
        /// <param name="applicationPlanId">Optional parameter: Example: </param>
        /// <param name="additionalFields">Optional parameter: Example: </param>
        /// <return>Returns the dynamic response from the API call</return>
        public dynamic CreateAdminApiSignupXml(
                string accessToken,
                string orgName,
                string username,
                string email,
                string password,
                int? accountPlanId = null,
                int? servicePlanId = null,
                int? applicationPlanId = null,
                object additionalFields = null)
        {
            Task<dynamic> t = CreateAdminApiSignupXmlAsync(accessToken, orgName, username, email, password, accountPlanId, servicePlanId, applicationPlanId, additionalFields);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// This request allows you to reproduce a sign-up from a developer in a single API call. It will create an Account, an Admin User for the account, and optionally an Application with its keys. If the plan_id is not passed, the default plan will be used instead. You can add additional custom parameters in Fields Definition on your Admin Portal.
        /// </summary>
        /// <param name="accessToken">Required parameter: Example: </param>
        /// <param name="orgName">Required parameter: Example: </param>
        /// <param name="username">Required parameter: Example: </param>
        /// <param name="email">Required parameter: Example: </param>
        /// <param name="password">Required parameter: Example: </param>
        /// <param name="accountPlanId">Optional parameter: Example: </param>
        /// <param name="servicePlanId">Optional parameter: Example: </param>
        /// <param name="applicationPlanId">Optional parameter: Example: </param>
        /// <param name="additionalFields">Optional parameter: Example: </param>
        /// <return>Returns the dynamic response from the API call</return>
        public async Task<dynamic> CreateAdminApiSignupXmlAsync(
                string accessToken,
                string orgName,
                string username,
                string email,
                string password,
                int? accountPlanId = null,
                int? servicePlanId = null,
                int? applicationPlanId = null,
                object additionalFields = null)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/admin/api/signup.xml");

            //process optional query parameters
            APIHelper.AppendUrlWithQueryParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "access_token", accessToken },
                { "org_name", orgName },
                { "username", username },
                { "email", email },
                { "password", password },
                { "account_plan_id", accountPlanId },
                { "service_plan_id", servicePlanId },
                { "application_plan_id", applicationPlanId },
                { "additional_fields", additionalFields }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, null);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<dynamic>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 